<!doctype html>
<html>
<head>
    <title>{% block title %}Library{% endblock %}</title>
    <link rel="stylesheet" href="/web/css/style.css">
</head>
<body>
{% block body %}

{% endblock body %}
<script type="text/javascript" src="/web/js/scripts.js"></script>
</body>
</html>
