{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        Library index
    </h1>
    <p><a href="/books/">Show books</a></p>
    <p><a href="/owners/">Show owners</a></p>
    <p><a href="/owners_with_books/">Show owners with their books</a></p>
{% endblock %}
